{% extends "root.html" %}

{% block content %}
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
      {% for claim in claims %}
  <a href="{% url 'claim' claim.pk %}">
    <div class="card" style="width: 20rem;">
      <img src="{{ claim.image.url}}" class="card-img-top" width="100px" height="200px" border=1 alt="{{ claim.image.url}}">
      <div class="card-body">
        <h5 class="card-title">Сообщение № {{ claim.id}} {{ claim.title }}</h5>
         <p class="card-text">
            {{ claim.text}}
           <span>Дата создания зявки: {{ claim.created_date }}</span>
          <span>Дата рассмотрения: {{ claim.moderation_till }}</span>
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
    </div>

{% endblock %}